div {
  color: blue;
  border: red solid 5px;
}

.info {
  color: green;
}

#message {
  color: red;
}

div.info {
  color: green;
  font-style: oblique;
  font-weight: bolder;
  font-size: 50px;
}

div#message {
  color: red;
  font-variant-caps: all-petite-caps;
  font-size: x-large;
}
